<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tieu luan tot nghiep</title>
  <meta charset="utf-8">
  <!-- Only required for desktop -->
		<link rel="stylesheet" href="/dist/css/mobile-angular-ui-hover.min.css" />
		<!-- Always required -->
		<link rel="stylesheet" href="/dist/css/mobile-angular-ui-base.min.css" />
		<!-- Only required for desktop -->
		<link rel="stylesheet" href="/dist/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/angular.min.js"></script>
		<script src="/dist/js/mobile-angular-ui.min.js"></script>
		<script src="/dist/socket.io.min.js"></script>
		<script src="/socket.min.js"></script>
		<script src="/webapp.js"></script>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body ng-app="myApp" ng-controller="Home">
  <div class="container">
    <div class="row text-center page-header">
	 <h1 class="bg-primary">HỌC VIỆN HÀNG KHÔNG VIỆT NAM</h1>
	   <h2 class="bg-primary">TIỂU LUẬN TỐT NGHIỆP</h2>
      <h3 class="bg-primary">MÔ PHỎNG NGÔI NHÀ THÔNG MINH</h3>
    </div>
    <div class="row text-center panel panel-info">
      <div class="panel-heading">
        Cảm biến
    </div>
    <div class="panel-body">
    <div class="col-xs-4">
      <img src="img/Gas-48.png" title="Gas" width="48" height="48">
      Khí Gas
    </div>
    <div class="col-xs-4">
	 <img src="img/Light Off-48.png" title="KC" width="48" height="48">
      Chống trộm
    </div>
    <div class="col-xs-4">
	 <img src="img/Humidity-64.png" title="Mua" width="48" height="48">
      Mưa
    </div>
    <div class="col-xs-4">
      <img src="img/Temperature-48.png" title="Temperature" width="48" height="48">
      Nhiệt độ
    </div>
    <div class="col-xs-4">
      <!-- Partly Cloudy Day icon by Icons8 -->
<img src="img/Partly Cloudy Day-48.png" title="Partly Cloudy Day" width="48" height="48">
      Độ ẩm
    </div>
    <button class="btn-primary" type="button"><span class="glyphicon glyphicon-refresh"></span> Cập nhật</button>
    </div>
  </div>
  <div class="row text-center panel panel-info">
    <div class="panel-heading">
  </div>
  <div class="row text-center panel panel-info">
    <div class="panel-heading">
      Điều khiển thiết bị
    </div>
    <div class="panel-body">
    <div class="col-xs-6" ng-repeat="led_value in leds_status track by $index">
      <img src="img/Light Off-48.png" title="Light On" width="48" height="48">
      Đèn phòng ngủ 1  
	  {{$index}}
    </div>
 
  <div class="col-xs-6" ng-repeat="led_value in leds_status track by $index">
      <img src="img/Light Off-48.png" title="Light On" width="48" height="48">
      Đèn phòng ngủ 2 
	 {{$index}}
    </div>
  </div>
  </div>
  <div class="row text-right panel panel-primary">
    <div class="panel-heading">
      Người thực hiện
    </div>
    <div class="panel_body">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">BÙI QUANG HUY</div>
    <div class="col-xs-4"></div>
    <div class="col-xs-8">Lớp: DV1-K8  MSSV: 1453020029</div>
  </div>

  </div>
</div>
</body>
</html>
