<!DOCTYPE html>
<html lang="en">
<head>
  <title>TIỂU LUẬN TỐT NGHIỆP</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="/dist/socket.io.min.js"></script>
	<script src="/socket.min.js"></script>
  <script src="webapp.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container">
    <!-- <img src="img/logo-hcmute.png" class="img-rounded" alt="HCM logo" width="650" height="100"> -->
    <div class="row text-center page-header bg-primary">
      <h1 class="bg-primary">HỌC VIỆN HÀNG KHÔNG VIỆT NAM</h1>
	   <h2 class="bg-primary">TIỂU LUẬN TỐT NGHIỆP</h2>
      <h3 class="bg-primary">MÔ PHỎNG NGÔI NHÀ THÔNG MINH VÀ ĐIỀU KHIỂN THIẾT BỊ THÔNG QUA INTERNET </h3>
    </div>
    <div class="row text-center panel panel-info">
      <div class="panel-heading">
        Cảm biến
    </div>
    <div class="panel-body">
      <div class="row">
    <div class="col-xs-4">
	<img src="img/Humidity-64.png" title="Mua" width="48" height="48">
      Mưa:
      {{CamBienMua}}
    </div>
    <div class="col-xs-4">
      <img src="img/Gas-48.png" title="Gas" width="48" height="48">
      Khí Gas:
      {{CamBienGas}}
    </div>
	<div class="col-xs-4">
      <img src="img/Light Off-48.png" title="CamBienKC" width="48" height="48">
      Chống Trộm:
      {{CamBienKC}}
    </div>
    <div class="col-xs-4">
      <img src="img/Temperature-48.png" title="Temperature" width="48" height="48">
      Nhiệt độ:
      {{CamBienND}}
    </div>
    <div class="col-xs-4">
      <!-- Partly Cloudy Day icon by Icons8 -->
<img src="img/Partly Cloudy Day-48.png" title="Partly Cloudy Day" width="48" height="48">
      Độ ẩm:
      {{CamBienDA}}
    </div>
      </div>
      <div class="row">
    <button class="btn-primary" type="button" ng-click="updateSensor()"><span class="glyphicon glyphicon-refresh"></span> Cập nhật</button>
      </div>
      </div>
  </div>
  <div class="row text-center panel panel-info">
    <div class="panel-heading">
      Gửi thông báo xuống LCD
    </div>
    <div class="panel-body">
    <div class="col-xs-6"><input type="text" class="input text" ng-model="lcd[0]" ng-change="updateLCD()" placeholder="Dòng 1" required></div>
    <div class="col-xs-6"><input type="text" class="input text" ng-model="lcd[1]" ng-change="updateLCD()" placeholder="Dòng 2" required></div>
    </div>
  </div>
  <div class="row text-center panel panel-info">
    <div class="panel-heading">
      Điều khiển thiết bị
    </div>
    <div class="panel-body">
    <div class="col-xs-6" ng-repeat="led_value in leds_status track by $index">
      <img style="cursor: pointer" ng-click="updateLED(led_value, $index)" ng-src="{{led_value == 0 && 'img/Light On-48.png' || 'img/Light Off-48.png'}}" title="Light Off" width="48" height="48">
      Đèn phòng ngủ 1 {{$index + 1}}
    </div>
	<div class="col-xs-6" ng-repeat="led_value in leds_status track by $index">
      <img style="cursor: pointer" ng-click="updateLED(led_value, $index)" ng-src="{{led_value == 0 && 'img/Light On-48.png' || 'img/Light Off-48.png'}}" title="Light Off" width="48" height="48">
      Đèn  phòng ngủ 2 {{$index + 2}}
    </div>
  </div>
  </div>
  <div class="row text-right panel panel-primary">
    <div class="panel-heading">
      Người thực hiện
    </div>
    <div class="panel_body">
	    <div class="col-xs-4"></div>
    <div class="col-xs-8">TIỂU LUẬN TỐT NGHIỆP</div>
    <div class="col-xs-4"></div>
    <div class="col-xs-8">BÙI QUANG HUY</div>
    <div class="col-xs-4"></div>
    <div class="col-xs-8">lớp: DV1-K8   MSSV: 1453020029</div>
  </div>

  </div>
      <audio controls loop autoplay hidden ng-src="{{gtGas == 1 && 'img/Alert-sound.mp3' || 'aa'}}" >
          <!-- <source ng-src="{{gtGas == 0 && 'img/Alert-sound.mp3' || 'aa'}}" type="audio/mp3"> -->
      </audio>
  </div>
      <audio controls loop autoplay hidden ng-src="{{gtKC == 1 && 'img/Alert-sound.mp3' || 'aa'}}" >
          <!-- <source ng-src="{{gtKC == 0 && 'img/Alert-sound.mp3' || 'aa'}}" type="audio/mp3"> -->
      </audio>
</div>
</body>
</html>
